<section class="bg-gray-900 w-full">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <a
      routerLink="/tasks"
      class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
    >
      {{ title }}
    </a>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Create and account
        </h1>
        <form
          class="space-y-4 md:space-y-6"
          #ngSignup="ngForm"
          name="form"
          (ngSubmit)="onSubmit()"
          *ngIf="!isSuccessful"
          novalidate
        >
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your email</label
            >
            <input
              type="email"
              id="email"
              name="email"
              [(ngModel)]="signupRequest.email"
              #email="ngModel"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="name@company.com"
              required
            />
            <div *ngIf="ngSignup.submitted && email.errors">
              <p
                class="mt-2 text-sm text-red-600 dark:text-red-500"
                *ngIf="email.errors['email']"
              >
                Invalid Email
              </p>
            </div>
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              [(ngModel)]="signupRequest.password"
              required
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}"
              #password="ngModel"
            />
            <div *ngIf="ngSignup.submitted && password.errors">
              <p
                class="mt-2 text-sm text-red-600 dark:text-red-500"
                *ngIf="password.errors['required']"
              >
                Password is required
              </p>
              <p
                class="mt-2 text-sm text-red-600 dark:text-red-500"
                *ngIf="password.errors['pattern']"
              >
                Enter a strong password. At least one number and one uppercase
                and lowercase letter, and at least 8 or more characters.
              </p>
            </div>
          </div>
          <div>
            <label
              for="confirm-password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Confirm password</label
            >
            <input
              type="confirm-password"
              name="confirm-password"
              id="confirm-password"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              [(ngModel)]="signupRequest.confirmPassword"
              required
              pattern="{{ password.value }}"
              #confirmPassword="ngModel"
            />
            <div *ngIf="ngSignup.submitted && confirmPassword.errors">
              <p
                class="mt-2 text-sm text-red-600 dark:text-red-500"
                *ngIf="confirmPassword.errors['required']"
              >
                Confirm Password is required
              </p>
              <p
                class="mt-2 text-sm text-red-600 dark:text-red-500"
                *ngIf="confirmPassword.errors['pattern']"
              >
                Enter a strong password. At least one number and one uppercase
                and lowercase letter, and at least 8 or more characters.
              </p>
            </div>
          </div>
          <div>
            <label
              for="firstName"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your First Name</label
            >
            <input
              type="text"
              id="firstName"
              name="firstName"
              [(ngModel)]="signupRequest.firstName"
              required
              #firstName="ngModel"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="John"
            />
            <div *ngIf="ngSignup.submitted && firstName.errors">
              <p
                class="mt-2 text-sm text-red-600 dark:text-red-500"
                *ngIf="firstName.errors['required']"
              >
                First name is required
              </p>
            </div>
          </div>
          <div>
            <label
              for="lastName"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your Last Name</label
            >
            <input
              type="lastName"
              id="lastName"
              name="lastName"
              ame="lastName"
              [(ngModel)]="signupRequest.lastName"
              required
              #lastName="ngModel"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Doe"
            />
            <div *ngIf="ngSignup.submitted && lastName.errors">
              <p
                class="mt-2 text-sm text-red-600 dark:text-red-500"
                *ngIf="lastName.errors['required']"
              >
                Last name is required
              </p>
            </div>
          </div>
          <button
            type="submit"
            class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Create an account
          </button>
          <div *ngIf="ngSignup.submitted && isSignUpFailed">
            <p class="mt-2 text-sm text-red-600 dark:text-red-500">
              Signup failed!<br />{{ errorMessage }}
            </p>
          </div>
          <div
            class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
            role="alert"
            *ngIf="isSuccessful"
          >
            Congrats! You have signed up successfully. You can login now to your
            account.
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
